In [1]:
# !pip3 install -qU pandas 
# !pip3 install -qU numpy

In [2]:
import numpy as np
import pandas as pd

# Merge Operation: 
Let us create two example Dataframes in Pandas

In [3]:
df_a = pd.DataFrame({'ID': [10, 12, 13], 'V': [41, 101, 6]})
df_a

   ID    V
0  10   41
1  12  101
2  13    6

In [4]:
df_b = pd.DataFrame({'ID': [12, 13, 14], 'W': [201,101, 12]})
df_b

   ID    W
0  12  201
1  13  101
2  14   12

In [5]:
print(df_a.to_markdown())


print("\n###################\n")
print(df_b.to_markdown())

|    |   ID |   V |
|---:|-----:|----:|
|  0 |   10 |  41 |
|  1 |   12 | 101 |
|  2 |   13 |   6 |

###################

|    |   ID |   W |
|---:|-----:|----:|
|  0 |   12 | 201 |
|  1 |   13 | 101 |
|  2 |   14 |  12 |

In [6]:
# Merge the two dataframes
df_merged1 = df_a.merge(df_b)

print(df_merged1.to_markdown())

|    |   ID |   V |   W |
|---:|-----:|----:|----:|
|  0 |   12 | 101 | 201 |
|  1 |   13 |   6 | 101 |

In [7]:
# Merge the two dataframes
df_merged2 = df_b.merge(df_a)

# 
print(df_merged2.to_markdown())

|    |   ID |   W |   V |
|---:|-----:|----:|----:|
|  0 |   12 | 201 | 101 |
|  1 |   13 | 101 |   6 |

# Look at Pandas Main Dataframe Merge  Operation

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html

## Compare it later to 
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.join.html

## Venn Diagram 
https://en.wikipedia.org/wiki/Venn_diagram


## SQL Join 
https://en.wikipedia.org/wiki/Join_(SQL)

In [8]:
# how{‘left’, ‘right’, ‘outer’, ‘inner’, ‘cross’}, default ‘inner’

# Merge the two dataframes
df_merged = df_a.merge(df_b, how="left")
print(df_merged.to_markdown())

|    |   ID |   V |   W |
|---:|-----:|----:|----:|
|  0 |   10 |  41 | nan |
|  1 |   12 | 101 | 201 |
|  2 |   13 |   6 | 101 |

In [9]:
# Merge the two dataframes
df_merged = df_a.merge(df_b, how="right")
print(df_merged.to_markdown())

|    |   ID |   V |   W |
|---:|-----:|----:|----:|
|  0 |   12 | 101 | 201 |
|  1 |   13 |   6 | 101 |
|  2 |   14 | nan |  12 |

In [10]:
# Merge the two dataframes
df_merged = df_a.merge(df_b, how="outer")
print(df_merged.to_markdown())

|    |   ID |   V |   W |
|---:|-----:|----:|----:|
|  0 |   10 |  41 | nan |
|  1 |   12 | 101 | 201 |
|  2 |   13 |   6 | 101 |
|  3 |   14 | nan |  12 |

In [11]:
df_merged = df_a.merge(df_b, how="inner")
print(df_merged.to_markdown())

|    |   ID |   V |   W |
|---:|-----:|----:|----:|
|  0 |   12 | 101 | 201 |
|  1 |   13 |   6 | 101 |

In [12]:
df_merged = df_a.merge(df_b, how="cross")
print(df_merged.to_markdown())

|    |   ID_x |   V |   ID_y |   W |
|---:|-------:|----:|-------:|----:|
|  0 |     10 |  41 |     12 | 201 |
|  1 |     10 |  41 |     13 | 101 |
|  2 |     10 |  41 |     14 |  12 |
|  3 |     12 | 101 |     12 | 201 |
|  4 |     12 | 101 |     13 | 101 |
|  5 |     12 | 101 |     14 |  12 |
|  6 |     13 |   6 |     12 | 201 |
|  7 |     13 |   6 |     13 | 101 |
|  8 |     13 |   6 |     14 |  12 |

# Keys 

## onlabel or list
Column or index level names to join on. These must be found in both DataFrames. If on is None and not merging on indexes then this defaults to the intersection of the columns in both DataFrames.

## left_onlabel or list, or array-like
Column or index level names to join on in the left DataFrame. Can also be an array or list of arrays of the length of the left DataFrame. These arrays are treated as if they are columns.

## right_onlabel or list, or array-like
Column or index level names to join on in the right DataFrame. Can also be an array or list of arrays of the length of the right DataFrame. These arrays are treated as if they are columns.

In [13]:
# Merge the two dataframes
df_merged = df_a.merge(df_b, how="left", left_on="V", right_on="W")
print(df_merged.to_markdown())

|    |   ID_x |   V |   ID_y |   W |
|---:|-------:|----:|-------:|----:|
|  0 |     10 |  41 |    nan | nan |
|  1 |     12 | 101 |     13 | 101 |
|  2 |     13 |   6 |    nan | nan |

# Study the Pandas' Documentation for Merge Operation. 

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html